*{
    background-color: black;
}
img{
    width: 70%;
    text-align: center;
    border: 5px solid;
    border-color: white;
}
.image{
    margin-left: 28%;
    margin-top: 10%;

}
.text1{
    color: white;
    text-align: center;
    font-size: 2.3rem;
    margin-left: 8%; 
}
.text2{
    color: white;
    text-align: center;
    font-size: 1rem;
    margin-left: 8%; 
}